@import 'fonts';
@import 'reset';
$BigJohn: "BigJohn", Arial, sans-serif;
$OpenSansB: "OpenSans Bold", Arial, sans-serif;
$OpenSansL: "OpenSans light", Arial, sans-serif;
$OpenSans: "OpenSans", Arial, sans-serif;

.header {

}
